.mySketch {
    margin: auto;
}
body{
    background-color:black;
}
body, p{
    color:white;
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    display: inline-block;
    width: fit-content;
    flex-direction: column-reverse;
}
/* centers text */
.textContent{
    top: 20%;
    left: 10%;
    width:fit-content;
    position: absolute;
}

.toggleContent{
    font-family: Baskerville;
    font-size: 30px;
    margin: 0px;
    line-height: 90%;
    top: 5%;
    left: 10%;
    width:25%;
    position: absolute;
}

@font-face {
    font-family: Baskerville;
    src: url(fonts/BaskervilleMTStd-SemiBd.woff);
    line-gap-override: 20%;
}

.bask{
    font-family: Baskerville;
    font-size: 150px;
    margin: 0px;
    line-height: 90%;
}

.button{
    margin: 10px;
    padding: 15px;
    text-decoration: none;
    background-color: transparent;
    color:white;
    font-size: 50px;
}

.button:visited {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
.button:hover {
    border: 5px solid white;
    border-radius: 25px;
    background-color: transparent;
    text-decoration: none;
}

#panel, .flip {
  padding: 10px;
  color: rgb(255, 255, 255);
  margin: auto;
}

.flip:hover{
      color: white;
}

.flip:visited{
      color: rgb(47, 47, 47);
}

#panel {
  display: block;
}