.mySketch {
    margin: auto;
}
body{
    background-color:black;
}
body, p{
    color:white;
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    display: inline-block;
    width: 100%;
}
/* centers text */
.textContent{
    top: 20%;
    left: 10%;
    width:30%;
    position: absolute;
}

@font-face {
    font-family: Baskerville;
    src: url(fonts/BaskervilleMTStd-SemiBd.woff);
    line-gap-override: 20%;
}

.bask{
    font-family: Baskerville;
    font-size: 150px;
    margin: 0px;
    line-height: 90%;
}

.button{
    padding: 15px;
    text-decoration: none;
    background-color: transparent;
    color:white;
    font-size: 50px;
}

.button:visited {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
.button:hover {
    border: 5px solid white;
    border-radius: 25px;
    background-color: transparent;
    text-decoration: none;
}

.home{
    top: 2.5%;
    left: 2.5%;
    width:fit-content;
    position: absolute;
    padding: 15px;
    text-decoration: none;
    background-color: transparent;
    color:white;
    font-size: 30px;
}

.home:visited {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.home:hover {
    border: 3px solid white;
    border-radius: 20px;
    background-color: transparent;
    text-decoration: none;
}